<%- include('./partials/header.ejs') %>
<h1>Register!</h1>
<form method="POST" action="/auth/registration">
    <label for="emailField">Email</label>
    <input type="email" name="email" value="<%= email %>" is="emailField" />
    <%- include('./partials/error.ejs', { errors: errors, attribute: 'email'}) %>

    <label for="passwordField">Password</label>
    <input type="password" name="password" is="passwordField" />
    <%- include('./partials/error.ejs', { errors: errors, attribute: 'password'}) %>

    <label for="verifyField">Verify password</label>
    <input type="password" name="verification" id="verifyField" />
    <%- include('./partials/error.ejs', { errors: errors, attribute: 'verification'}) %>
    <input type="submit" value="Submit!" />
</form> 

<div style="height: 20vh;"></div>
<p>Already have an account?</p>
<a href="/auth/login">
    <p>
    Click here to login!
    </p>
</a>
<a href="/home">
    <p>
    Home
    </p>
</a>

 
<%- include('./partials/footer.ejs') %>


